<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT test ANY>
<!ATTLIST test id ID #REQUIRED>
]>
<root id="-1">
  <test id="1063" key="7910128f-db67-4f2b-ad1f-1429e6382ed5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-07T17:58:53" updateDate="2019-04-07T18:39:38" nodeName="Test page" urlName="test-page" path="-1,1063" isDoc="" nodeType="1062" creatorName="Bilal Isa" writerName="Bilal Isa" writerID="0" template="1064" nodeTypeAlias="test" isPublished="true">
    <link><![CDATA[{
  "id": "1063",
  "name": "Test page custom",
  "url": "/",
  "target": "_blank"
}]]></link>
  </test>
</root>